@*@model QuizManager.DataAccess.Models.Quiz*@
@model QuizDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Quiz.QuizName Quiz</h1>

<div>
    

    <dl class="row">
        <dt class="col-sm-2"> Questions </dt>
    </dl>

    <table class="table">

        @foreach (var question in Model.Questions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => question.QuestionName)
                </td>
            </tr>
        }
    </table>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Quiz.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
