@using System.Linq
@model QuizManager.DataAccess.Models.Answer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Answer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionId" class="control-label">Related question</label>
                <select asp-for="QuestionId" class="form-control" asp-items="ViewBag.Question" style="width:auto;"></select>
                <span asp-validation-for="QuestionId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AnswerName" class="control-label"></label>
                <input asp-for="AnswerName" class="form-control" />
                <span asp-validation-for="AnswerName" class="text-danger"></span>
                <label for="answer1">Correct answer?</label>
                <input type="radio" id="answer1" name="correctAnswerId" value="Correct answer?">
            </div>
            
            <div class="form-group">
                <label asp-for="AnswerName" class="control-label"></label>
                <input asp-for="AnswerName" class="form-control" />
                <span asp-validation-for="AnswerName" class="text-danger"></span>
                <label for="answer2">Correct answer?</label>
                <input type="radio" id="answer2" name="correctAnswerId" value="Correct answer?">

            </div>
            
            <div class="form-group">
                <label asp-for="AnswerName" class="control-label"></label>
                <input asp-for="AnswerName" class="form-control" />
                <span asp-validation-for="AnswerName" class="text-danger"></span>

                <label for="answer3">Correct answer?</label>
                <input type="radio" id="answer3" name="correctAnswerId" value="Correct answer?">

            </div>
            
            <div class="form-group">
                <label asp-for="AnswerName" class="control-label"></label>
                <input asp-for="AnswerName" class="form-control" />
                <span asp-validation-for="AnswerName" class="text-danger"></span>
                <label for="answer4">Correct answer?</label>
                <input type="radio" id="answer4" name="correctAnswerId" value="Correct answer?">

            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
