@model CreateAnswersViewModel

@{
    ViewData["Title"] = "Create Answers";
}

<h1>Create</h1>

<h4>Answer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionId" class="control-label">Related question</label>
                <select asp-for="QuestionId" class="form-control" asp-items="ViewBag.Question" style="width:auto;"></select>
                <span asp-validation-for="QuestionId" class="text-danger"></span>
            </div>

            @for (var i = 0; i < 4; i++)
            {
        <div class="form-group">
            <label asp-for="Answers[i].AnswerName" class="control-label"></label>
            <input asp-for="Answers[i].AnswerName" class="form-control" />
            <span asp-validation-for="Answers[i].AnswerName" class="text-danger"></span>
            <label asp-for="Answers[i].IsCorrect" class="control-label">Correct Answer?</label>
            <input asp-for="Answers[i].IsCorrect" class="correct-answer-checkbox" onchange=check(this) type="checkbox"><br>
        </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}
